<div class="sign-top">
  <%= image_tag 'mobile/wcard/logo.png', class: 'sign-logo' %>
  <h2 >客户认证</h2>
</div>

<%= render partial: 'error_messages', locals: {target: @wx_follower}  %>
<%= render 'form', vote: @wx_follower %>
