<div class="clear-block">
  <div class="left">
    <%= @wx_follower.nickname %>
    <%= image_tag @wx_follower.headimgurl %>
  </div>
   永峰皮具头部
  <div class="right"> 关闭 </div>
</div>

<div>
  基本信息统计
  消费多少单， 会员卡余额，
</div>

<p id="notice"><%= notice %></p>

<div>
  <table>
    
  </table>
  订单列表 15
</div>
