<div class="vip-head">
    <a href="<%= mp_wx_follower_path(@customer.wx_follower)%>">
      <%=image_tag "mobile/wcard/icon-right.png" %>
    </a>
    <h1>我的充值</h1>
    <a href="javascript:;"></a>
</div>
<div id="sec-index" class="index my-orders">

  <div class="page">
    <% if @orders.present? %>
    <%= render partial: 'deposit', collection: @orders %>
    <% else %>
      <div class="weui-form-preview tcenter">
        <p> 暂无数据</p>
      </div>
    <% end %>
  </div>
</div>
