<div id="sec-index" class="orders">
  <div class="vip-head">
      <a href="<%= mp_wx_follower_path(@customer.wx_follower)%>">
        <img src="/assets/mobile/wcard/icon-right.png" alt="">
      </a>
      <h1>我的订单</h1>
      <a href="javascript:;"></a>
  </div>
  <div class="page">

this is order index page
  </div>
</div>
