<div class="vip-head">
    <a href="<%= mp_wx_follower_path(@customer.wx_follower)%>">
      <%=image_tag "mobile/wcard/icon-right.png" %>
    </a>
    <h1>我的订单</h1>
    <a href="javascript:;"></a>
</div>
<div id="sec-index" class="index my-orders">
  <div class="page">
    <div class="orders">
      <% if @orders.present? %>
        <%= render partial: 'order', collection: @orders %>
        <!-- status elements -->
        <div class="scroller-status">
          <div class="infinite-scroll-request loader-ellips"> ... </div>
          <p class="infinite-scroll-last"></p>
          <p class="infinite-scroll-error"></p>
        </div>
        <div class="pagination">
          <%= link_to_next_page @orders, 'Load more', class: 'pagination__next' %>
        </div>

      <% else %>
        <p class="mod-null"> 暂无数据</p>
      <% end %>
    </div>
  </div>
</div>
