<div class="vip-head">
    <a href="<%= mp_wx_follower_path(@customer.wx_follower)%>">
      <img src="/assets/mobile/wcard/icon-right.png" alt="">
    </a>
    <h1>我的订单</h1>
    <a href="javascript:;"></a>
</div>
<div id="sec-index" class="index ">
  <div class="page">
    <div class="orders">
      <% if @orders.present? %>
        <%= render partial: 'order', collection: @orders %>
      <% else %>
        <p class="mod-null"> 暂无数据</p>
      <% end %>
    </div>
  </div>
</div>
