<div id="sec-index" class="recent-orders">
  <div class="vip-head">
      <a href="<%= mp_wx_follower_path(@customer.wx_follower)%>">
        <img src="/assets/mobile/wcard/icon-right.png" alt="">
      </a>
      <h1>最近订单</h1>
      <a href="javascript:;"></a>
  </div>
  <div class="page">
    <div class="page__bd" style="height: 100%;">
        <div id="recent-orders-tab" class="weui-tab ">
            <div class="weui-navbar">
                <div class="weui-navbar__item">
                    新订单
                </div>
                <div class="weui-navbar__item">
                    工作中
                </div>
                <div class="weui-navbar__item">
                    待领取
                </div>
            </div>
            <div class="weui-tab__panel">
              <div class="weui-tab__content">
                <% if @incomplete_orders.present? %>
                  <%= render partial: 'mp/orders/incomplete_order', collection: @incomplete_orders, as: 'order' %>
                <% else %>
                  <p class="mod-null"> 暂无数据</p>
                <% end %>
              </div>
              <div class="weui-tab__content" style="display:none">
                <% if @working_orders.present? %>
                  <%= render partial: 'mp/orders/incomplete_order', collection: @working_orders, as: 'order' %>
                <% else %>
                    <p class="mod-null"> 暂无数据</p>
                <% end %>
              </div>
              <div class="weui-tab__content" style="display:none">
                <% if @ready_orders.present? %>
                  <%= render partial: 'mp/orders/incomplete_order', collection: @ready_orders, as: 'order' %>
                <% else %>
                  <p class="mod-null"> 暂无数据</p>
                <% end %>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
