<div class="Panel Top">
  <div class="top_menu">
    <%= image_tag "icon/top.png", class: "activity_logo" %>
    <div class="top_title" style="">

      <div >TOPTitle Row1</div>
      <div >TOPTitle Row2</div>

    </div>
    <img class="mp_account_codeimage" src="" alt="weixin 公众号">
  </div>
</div>
