<html>
 <head>
  <meta charset="UTF-8" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="webkit" name="renderer" />
  <link rel="stylesheet" href="css/default.css" />
  <script src="//js.aq.qq.com/js/aq_common.js" type="text/javascript"></script>
  <style type="text/css">.emojicon-m {    min-height: 1.2em !important;    min-width: 1.2em !important;    max-height: 1.2em !important;    max-width: 1.2em !important;	vertical-align: middle !important;	float:none !important;	background-repeat: no-repeat;	background-position: center center;	background-size: contain;	display: inline-block;}</style>
  <title>第一个活动-- 腾讯微现场</title>
 </head>
 <body>
  <div class="loading_con hide">
   <div class="loading">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
   </div>
  </div>
  <div id="wrapper" class="wrapper remodal-bg">
   <div id="background_img" class="container background_img">
   </div>
   <div id="browser_tips" class="container browser_tips hide">
    <div class="row clearfix">
     <div class="browser_logo fl">
      <img src="images/default/logo_black.png" />
     </div>
     <div class="browser_download">
      <p>您的浏览器对大屏幕上墙效果支持不佳，或者使用的浏览器版本过低，建议更换新版chrome浏览器获得更好的上墙体验</p>
      <a href="http://xiazai.sogou.com/detail/34/8/6262355089742005676.html">点击去下载chrome浏览器 <img src="images/default/chrome.png" /></a>
     </div>
    </div>
   </div>
   <div class="container stage">
    <div id="header" class="row header clearfix">
     <div class="title fl">
      <h1>第一个活动</h1>
     </div>
    </div>
    <div class="row main clearfix">
     <div class="viewport">
      <div class="view clearfix" id="message">
       <div id="sidebar" class="sidebar fl">
        <div class="sb-wrapper">
         <div id="mask_btn" class="c-wrapper">
          <img src="http://shp.qpic.cn/app_actsec/20d93826f59f7bc5af3edf6754bdd178019dc2d1039900043da23603f210de515ed576bf8969d9aad3482a00e93c5b6e/0" />
         </div>
         <p class="comment account"><span>大连软山</span></p>
         <p class="comment"> 关注微信号 </p>
         <p class="comment">参与互动上墙</p>
        </div>
       </div>
       <div class="mask hide" id="mask">
        <div class="mask-wrapper">
         <img width="460" height="460" src="http://shp.qpic.cn/app_actsec/20d93826f59f7bc5af3edf6754bdd178019dc2d1039900043da23603f210de515ed576bf8969d9aad3482a00e93c5b6e/0" />
        </div>
       </div>
       <div class="fl" id="message_wrapper">
        <div class="message-loading-con hide">
         <p>正在加载上墙消息...</p>
         <div class="message-loading-progress">
          <div style="width: 0%" class="message-loading-progress-bar">
           0%
          </div>
         </div>
        </div>
        <div id="container_list" class="message-con swiper-container" style="height: 254px;">
         <div class="swiper-wrapper" style="width: 784px; height: 169.333px;">
          <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 784px; height: 84.6667px;">
           <div style="height: 64.6667px;" data-index="0" class="item clearfix">
            <div class="left fl">
             <div class="avatar">
              <img alt="" src="images/default/wx_avatar.jpg" id="userhead_0" />
             </div>
            </div>
            <div class="right">
             <div style="font-size:55px; line-height:65px" class="message h100">
               欢迎使用腾讯微现场
             </div>
            </div>
            <div class="corner"></div>
            <div class="index">
             1
            </div>
           </div>
          </div>
          <div class="swiper-slide swiper-slide-visible" style="width: 784px; height: 84.6667px;">
           <div style="height: 64.6667px;" data-index="1" class="item clearfix">
            <div class="left fl">
             <div class="avatar">
              <img alt="" src="images/default/wx_avatar.jpg" id="userhead_1" />
             </div>
            </div>
            <div class="right">
             <div style="font-size:45px; line-height:55px" class="message h100">
               微信扫描二维码发送消息，通过后台审核后即可上墙啦
             </div>
            </div>
            <div class="corner"></div>
            <div class="index">
             2
            </div>
           </div>
          </div>
         </div>
        </div>
        <div id="container_detail" class="message-con swiper-container hide" style="height: 254px;">
         <div class="swiper-wrapper">
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="blur">
      <div>
      </div>
     </div>
    </div>
   </div>
   <div id="ctrlbar" class="container">
    <div id="slogen" class="clearfix">
     <div class="slogen-bg">
      <div id="slogen-swiper-con" class="slogen-wrapper">
       <div class="swiper-wrapper" style="height: 20px; transition-duration: 0s;">
       </div>
      </div>
     </div>
    </div>
    <div id="toolkit" class="clearfix">
     <div class="toolkit-bg">
      <div class="toolkit-wrapper row">
       <div class="nav-bar fl">
        <ul>
         <li class="signin link tooltip tooltip-effect-2" app-jump="#581199/signin"> <i class="icon icon-signin"></i>
          <div class="tooltip-content">
           <span>签到</span>
          </div> </li>
         <li class="wall link tooltip tooltip-effect-2" app-jump="#581199/message"> <i class="icon icon-message active"></i>
          <div class="tooltip-content">
           <span>消息上墙</span>
          </div> </li>
         <li class="wall link tooltip tooltip-effect-2" app-jump="#581199/image"> <i class="icon icon-image"></i>
          <div class="tooltip-content">
           <span>纯图模式</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" id="shoot" app-bullet="enable"> <i class="icon icon-bullet"></i>
          <div class="tooltip-content">
           <span>弹幕开关</span>
          </div> </li>
         <li class="lottery link tooltip tooltip-effect-2" app-jump="#581199/lottery"> <i class="icon icon-lottery"></i>
          <div class="tooltip-content">
           <span>抽奖</span>
          </div> </li>
         <li class="vote link tooltip tooltip-effect-2" app-jump="#581199/vote"> <i class="icon icon-vote"></i>
          <div class="tooltip-content">
           <span>投票</span>
          </div> </li>
         <li class="game link tooltip tooltip-effect-2" app-jump="#581199/shake"> <i class="icon icon-game"></i>
          <div class="tooltip-content">
           <span>摇一摇</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" id="fullscreen"> <i class="icon icon-full-screen fullScreen"></i>
          <div class="tooltip-content">
           <span>全屏</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" id="setting-btn"> <i class="icon icon-setting"></i>
          <div class="tooltip-content">
           <span>设置</span>
          </div> </li>
        </ul>
       </div>
       <div class="action-bar fr">
        <ul>
         <li class="tooltip tooltip-effect-2" message-action="backward"> <i class="icon icon-backward"></i>
          <div class="tooltip-content">
           <span>第一条</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" message-action="step-backward"> <i class="icon icon-step-backward"></i>
          <div class="tooltip-content">
           <span>向上一条</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" message-action="play"> <i class="icon icon-pause"></i>
          <div class="tooltip-content">
           <span>开始/暂停</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" message-action="step-forward"> <i class="icon icon-step-forward"></i>
          <div class="tooltip-content">
           <span>向下一条</span>
          </div> </li>
         <li class="tooltip tooltip-effect-2" message-action="forward"> <i class="icon icon-forward"></i>
          <div class="tooltip-content">
           <span>最后一条</span>
          </div> </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="gallery-con invisible">
    <div class="abp" id="comment">
     <div class="container" id="comment-stage" style="perspective: 482.902px;"></div>
    </div>
   </div>
   <a class="hide" target="_blank" href="http://xianchang.qq.com/manage/index.html" id="ribbon"> <img title="马上创建您专属的微现场" src="images/default/peel.png" style="position: absolute; top: 0; right: 0; border: 0; width:100px; z-index:10000" /> </a>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/app.js"></script>
  <script>document.domain ="qq.com";var relEmo ="../widget/emo/";</script>
 </body>
</html>
