<% if @game_round.game_award_players.count > 0 %>
<div class="awards-wrapper">
  <% @game_round.game_awards.includes( game_award_players: :game_player ).each{ |award|%>
    <div class="award">
      <p class="award-name">  <%= award.name  %>         </p>
      <ul>
      <% award.game_award_players.each{ |award_player| %>
        <li class="award-player">
          <%= tag :img, src: award_player.game_player.avatar, width: 50, height: 50 %>
          <span><%= award_player.game_player.nickname %></span>
        </li>
      <% } %>

      </ul>
    </div>
  <% } %>
</div>
<% end %>
