<div id="contact_info" class="li-btn hidden">
  <%= image_tag "game/counting/close.png", class: 'close' %>
  <div class="startBox">
    <p>个人信息将作为领奖依据</p>
    <p>请认真填写喔</p>
    <form>
      <input type="text" placeholder="姓名" class="username" required><br>
      <input type="number" pattern="/\d{11,11}/" placeholder="电话" class="phone" required><br>
      <input type="button" value="提交并开始游戏" class="startbtn">
    </form>
  </div>
</div>
