<ul>
  <li>
    <%= link_to "签到", check_in_game_round_path( @game_round) %>
   </li>
  <li class="">
    <%= link_to "中奖名单", awards_game_round_path( @game_round) %>
   </li>
  <li><a href="#">个人中心</a></li>
</ul>
