<div class="poupSection">
  <p class="title"> <span> 一等奖  4名 </span></p>
  <div class="desc">
    奖品：迈腾合金车模<br/>
    价值500元
  </div>
</div>

<div class="poupSection">
  <p class="title"> <span>二等奖  8名 </span></p>
  <div class="desc">
    奖品： 京东e卡<br/>
    价值200元
  </div>
</div>

<div class="poupSection">
  <p class="title"> <span>三等奖  20名 </span></p>
  <div class="desc">
    奖品： 京东e卡<br/>
    价值50元
  </div>
</div>
