<div class="poupSection">
  <p class="title"> <span>活动规则 </span></p>
  <div class="desc">
    一汽-大众新高尔夫传承高品质的操控性，<br/>
    持续突破，创造更舒适的车生活，<br/>
    可以都市为家，也敢闯荡天涯。<br/>
    启动，与新高尔夫一路前行，<br/>
    挑战赛车排名，赢取惊喜大礼！
  </div>
</div>

<div class="poupSection">
  <p class="title"> <span>参与时间 </span></p>
  <div class="desc">
    起始时间：2017年11月 6日17:00<br/>
    截止时间：2017年11月13日12:00<br/>
    获奖公布：2017年11月13日20:00<br/>
  </div>
</div>

<div class="poupSection">
  <div class="desc">
    【活动最终解释权归一汽-大众大众品牌培训部所有】

  </div>
</div>
